# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular Languages that Data Scientists use are:
1. Python
2. R
3. SaS
4. Java
5. Matlab
6. SQL

**Objectives**
- list popular languages for data science
- List some commonly used libraries for data science
- How to install jupyter and run python code

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Plotly

|Data Science Tools|
|------------------|
|RStudio           |
|Juypter Notebook  |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
# This isa simple arthmetic expression to multiply the add intergers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Irene Okosun